/* Chat feature */
/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  background-color: #003b42;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.8;
  transition: 0.5s;
  position: fixed;
  font-family: 'Assistant', sans-serif;
  right: 30px;
  bottom: 10px;
  width: auto;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 15px;
  border: 3px solid #003b42;
  border-radius: 15px;
  box-shadow: -14px 14px 11px 0px rgba(214,214,214,0.80);
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  font-family: 'Rubik', sans-serif;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
  font-family: 'Assistant', sans-serif;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  font-family: 'Rubik', sans-serif;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  transition: 0.5s;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 100px;
}
