.img1 , .img2 , .img3 , .img4 {
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80%;
  padding: 8%;

}

.img1{background-image: url("Images/banner.jpg");
  height: 100%; width:100%; }
.img2{background-image: url("Images/lab1.jpg");
  height:100%; width:100%;}
.img3{background-image: url("Images/lab2.jpg");
  height: 100%; width:100%;}
.img4{background-image: url("Images/lab3.jpg");
  height: 100%; width:100%;}


.caption {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

.parrText {
  border: 2px solid #003b42;
  background-color: white;
  padding: 16px 32px;
  text-align: center;

  border-radius: 50px;
  width: 30%;
  margin: auto;

}
/*
@media screen and (max-width: 400px) {
			.parrText {
        font-size: 20px
			}
    } 
