body {
    background-color: #2eab9c;
}

h1 {
    color: #f2f7f7;
    font-family: 'Rubik', sans-serif;
}
.header {
   font: 100 20px;
   color: #0CE4D7;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 100px;
   width: 90%;
   font-family: 'Rubik', sans-serif;
}
/* The navbar container */
.topnav {
  font: 100 24px;
  height: 60px;
  width: 100%;
  text-align: center;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  background-color: #1c5ab0;
  opacity: 0.4;
}
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  opacity: 1;
}
/* Links - change color on hover */
.topnav a:hover {
  background-color: #f7fafa ;
  color: #003636;
}
@media only screen and (max-width: 720px) {
h2 {
  font: 100 30px; 
  color: black;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 5px;	
  font-family: 'Rubik', sans-serif;

 }
h4 {
  font: 100 20px; 
  text-align: left;
  font-size: 25px; 
  color: black; 
  margin-left: 50px; margin-right: 50px; 
  margin-bottom: 10px; margin-top: 10px;
  font-family: 'Rubik', sans-serif;
 }
h6 {
  font: 100 15px;
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top:50px; margin-bottom:20px; 
  font-family: 'Rubik', sans-serif;
 }
}
@media only screen and (min-width: 720px) {
h2 {
  font: 100 30px;
  color: black;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Rubik', sans-serif;
 }
h4 {
  font: 100 20px;
  text-align: left;
  font-size: 25px;
  color: black;
  width: 85%;
  margin-left: 100px; margin-right: 50px;
  margin-right: 10px; margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
 }
h6 {
  font: 100 15px;
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top:50px;
  margin-bottom:20px;
  font-family: 'Rubik', sans-serif;
 }
body {
  background-image: url('images/new_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
}
